body {
	font-family: sans-serif;
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	background-color: #f4f4f4;
	margin: 0;
}

#videoElement {
	border-radius: 6px;
	height:450px;
}

#canvasElement {
	display: none;
}

.button-group {
    width: 180px;
    margin-left: 20px;
	margin-top: 5px;
	display: flex;
	gap: 10px;
	flex-direction: row;
	align-items: center;
	border-radius: 25px;
	border: 2px solid #AEA5A5;
	padding: 15px;
}

.mic {
	position: relative;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	width: 40px;
	height: 40px;
	background-color: gray;
	color: #fff;
	font-size: 13px;
	border: none;
	border-radius: 50%;
	cursor: pointer;
	transition: background-color 0.25s;
}

.mic::before {
	content: "";
	position: absolute;
	width: inherit;
	height: inherit;
	border-radius: inherit;
	background-color: inherit;
	z-index: -1;
}

.listening {
	background-color: red;
}

.listening::before {
	animation: listening 1.3s infinite;
}

@keyframes listening {
	from {
		opacity: 0.25;
	}

	to {
		transform: scale(2);
		opacity: 0;
	}
}

.flex-column {
	margin: 5px;
	position: relative;
	flex: 25%;
}

.flex-row {
	padding: 20px;
	display: flex;
	flex-wrap: wrap;
}

.chat-container {
	border: 2px solid #ddd;
	border-radius: 8px;
}

.chat-column {
	height: 450px;
	overflow: auto;
	display: block;
	padding: 5px;
}

.queryTextClass {
	box-sizing: border-box;
	border-radius: 6px;
	border: 1px solid #ddd;
	background-color: #fff;
	padding: 5px;
}

.textbox {
	position: absolute;
	margin: 1px;
	width: 100%;
	height: 50px;
	background-color: #fff;
	padding: 10px 15px;
	box-sizing: border-box;
	border-radius: 6px;
	border: 1px solid #ddd;
	font-size: 16px;
	line-height: 1.4;
	outline: none;
	/* remove default focus outline */
	transition: border-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.textbox:focus {
	border-color: #007bff;
	/* blue when focused */
	box-shadow: 0 0 5px rgba(0, 123, 255, 0.3);
	/* add a focus glow */
}